#  Refer for explanation to following link:
#  https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
{% if use_terraform %}
    tf-format:
      glob: "*.{tf}"
      run: task tf:fmt -- {staged_files}

    tf-validate:
      glob: "*.{tf}"
      run: task tf:validate

    tf-lint:
      glob: "*.{tf}"
      run: task tf:lint

    tf-gen-docs:
      glob: "*.{tf}"
      run: task tf:docs
{% endif %}
{% if ansible_enabled %}
    ansible-lint:
      glob: "ansible/**/*.{yml,yaml}"
      run: task ansible:lint
{% endif %}
