# {{ project_name }}

> {{ project_description }}

## 📃 What is included

This project uses [Terraform](https://terraform.io) to provision an [Hetzner Cloud](https://cloud.hetzner.com) server, bootstrapped via a simple [cloud-init](https://cloudinit.readthedocs.io/) `user_data` script (creates the provisioning user and sets up swap - extend it for your own setup).

[Cloudflare](https://www.cloudflare.com) is used to point a domain name at the server.


## 🚀 Getting started

### Pre-requisites

[Devenv](https://devenv.sh/) is used to setup an isolated development envrionment with all the required tools. To install devenv, check the instructions of [Devenv Getting started guide](https://devenv.sh/getting-started/).

While, not stricly mandatory, [Direnv](https://direnv.net/) is recommended to facilitate the management of the devenv envrionment and project level envrionment variables. To install direnv in your check, check [this](https://direnv.net/docs/installation.html) guide.

### 🧑‍💻 Dev envrionment Setup

**Clone the repository**

```shell
git clone {{repo_url}}
cd {{ project_slug }}
```

**Enable direnv**

```shell
direnv allow
```

Direnv will automatically launch a `devenv` shell, with access to all the required tools.

### Setup SSH keys

If you don´t already have a ssh key pair you can generate one with the following command:

```shell
task gen-ssh-key
```

This will generate a new SSH key pair in the `<project_root>/.ssh`.

> [!IMPORTANT]
> You will need to set the Terraform vars `ssh_authorized_key` and `ssh_priv_key_file` with the value of your public key and the path to the generated private ssh key, respectively.



### Setup Terraform variables

Terraform supports multiple ways to provide variables. This project uses `*.tfvars` files during development and `TF_VAR` envrionment variables on CI.

When you enter  on the `devenv` shell for the first time, a `terraform/terraform.tfvars` should be created containing example values. If not, you can create this file manually by running:

```shell
cp terraform/terraform.tfvars.example terraform/terraform.tfvars
```

Next you need to modify your variables accordingly to the projecrt.

#### Run tasks

This project uses [Taskfile](https://taskfile.dev/) as task runner for common tasks. Run `task -l` or check [Taskfile.yml](Taskfile.yml) to see the available tasks.


## Documentation

For more detailed documentation, checks [docs](./docs/).


