# {{ project_name }}

> {{ project_description }}

## 📃 What is included
{% if use_terraform %}
This project uses [Terraform](https://terraform.io) to provision an [Hetzner Cloud](https://cloud.hetzner.com) server, with [Cloudflare](https://www.cloudflare.com) used to point a domain name at it.
{% if terraform_provisioner == 'cloud-init' %}
The server is bootstrapped via a simple [cloud-init](https://cloudinit.readthedocs.io/) `user_data` script (creates the provisioning user and sets up swap - extend it for your own setup).
{% else %}
The server is bootstrapped by [Ansible](https://www.ansible.com/): Terraform creates the provisioning user via cloud-init, then hands off to the `ansible/` playbook (which sets up swap - extend it for your own setup) as part of `terraform apply`.
{% endif %}
{% endif %}
{% if use_ansible %}
{% if use_terraform %}

A standalone [Ansible](https://www.ansible.com/) playbook is also included in `ansible/`, for configuring hosts independently of the Terraform-provisioned server (fill in `ansible/inventory/<env>/hosts.ini` with your own targets).
{% else %}
This project uses [Ansible](https://www.ansible.com/) to configure hosts. Fill in `ansible/inventory/<env>/hosts.ini` with your target host(s), then run `task ansible:playbook ENV=<env>`.
{% endif %}
{% endif %}
{% if use_terraform and ansible_enabled %}

Both Terraform and Ansible are structured around two environments out of the box: `staging` and `production`.
{% elif use_terraform %}

Terraform is structured around two environments out of the box: `staging` and `production`.
{% elif ansible_enabled %}

Ansible is structured around two environments out of the box: `staging` and `production`.
{% endif %}


## 🚀 Getting started

### Pre-requisites

[Devenv](https://devenv.sh/) is used to setup an isolated development envrionment with all the required tools. To install devenv, check the instructions of [Devenv Getting started guide](https://devenv.sh/getting-started/).

While, not stricly mandatory, [Direnv](https://direnv.net/) is recommended to facilitate the management of the devenv envrionment and project level envrionment variables. To install direnv in your check, check [this](https://direnv.net/docs/installation.html) guide.

### 🧑‍💻 Dev envrionment Setup

**Clone the repository**

```shell
git clone {{repo_url}}
cd {{ project_slug }}
```

**Enable direnv**

```shell
direnv allow
```

Direnv will automatically launch a `devenv` shell, with access to all the required tools.

### Setup SSH keys

If you don´t already have a ssh key pair you can generate one with the following command:

```shell
task gen-ssh-key
```

This will generate a new SSH key pair in the `<project_root>/.ssh`.
{% if use_terraform %}

> [!IMPORTANT]
> You will need to set the Terraform vars `ssh_authorized_key` and `ssh_priv_key_file` with the value of your public key and the path to the generated private ssh key, respectively.



### Setup Terraform variables

Terraform supports multiple ways to provide variables. This project uses `*.tfvars` files during development and `TF_VAR` envrionment variables on CI.

Each environment (`staging`, `production`) has its own tfvars file under `terraform/environments/<env>/`. Create yours from the example:

```shell
cp terraform/environments/staging/terraform.tfvars.example terraform/environments/staging/terraform.tfvars
cp terraform/environments/production/terraform.tfvars.example terraform/environments/production/terraform.tfvars
```

Next you need to modify your variables accordingly to the projecrt.
{% endif %}
{% if use_ansible %}

> [!IMPORTANT]
> Add your public key to `ansible/inventory/<env>/hosts.ini` (`ansible_user=...`) and point Ansible at the matching private key, e.g. via `ansible_ssh_private_key_file` in the inventory.
{% endif %}

#### Run tasks

This project uses [Taskfile](https://taskfile.dev/) as task runner for common tasks. Run `task -l` or check [Taskfile.yml](Taskfile.yml) to see the available tasks.


## Documentation

For more detailed documentation, checks [docs](./docs/).


