[defaults]
inventory = inventory/hosts.ini
host_key_checking = True
retry_files_enabled = False
roles_path = roles:roles_galaxy

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=~/.ssh/known_hosts
